body{ 
	padding: 70px 0px;
}

.img-bordered{
	border: 1px solid black;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background: #e7e7e7;
}

.verticaly-centered{
	position: relative
}

.verticaly-centered p{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.background-1{
	background-image: url("tla/tlo1.jpg"); 
}

.background-2{
	background-image: url("tla/tlo2.jpg");
}

.background-3{
	background-image: url("tla/tlo3.jpg");
}

.little-padding{
	padding-bottom: 10px;
}